.francisImg{
    width: 500px !important;
    height: auto !important;
    position: relative !important;
}
.play{
    width: 50px !important;
    height: auto !important;
    position: relative !important;
}